<span class="posts">
  <a href="posts">Escribe un post</a> |
</span>
<span class="board_pics">
  <a href="board_pics">Comparte Pizarra</a> |
</span>
<span class="books">
  <a href="books">Comparte un Libro</a>
</span>