<div class="selectors">
  <span class="posts selector">
    <i class="icon-pencil"></i> <a href="posts">{{t_write_post}}</a>
    <i class="nub"></i>
    <span class="divider">|</span>
  </span>
  <span class="board_pics selector">
    <i class="icon-picture"></i> <a href="board_pics">{{t_share_board_pic}}</a>
    <i class="nub"></i>
    <span class="divider">|</span>
  </span>
  <span class="books selector">
    <i class="icon-book"></i> <a href="books">{{t_share_book}}</a>
    <i class="nub"></i>
  </span>
</div>
<div class="form-container">
</div>