<div class="selectors">
  <span class="posts selector">
    <i class="icon-pencil"></i> <a href="posts">Escribe un post</a>
    <i class="nub"></i>
    <span class="divider">|</span>
  </span>
  <span class="board_pics selector">
    <i class="icon-picture"></i> <a href="board_pics">Comparte una Pizarra</a>
    <i class="nub"></i>
    <span class="divider">|</span>
  </span>
  <span class="books selector">
    <i class="icon-book"></i> <a href="books">Comparte un Libro</a>
    <i class="nub"></i>
  </span>
</div>
<div class="form-container">
</div>