<div class="admin_panel well span3 offset1">
</div>

<div class="content_panel well span6">
</div>

<a class="btn feedback" data-toggle="modal" href="#myModal" >Feedback</a>

<div class="modal hide" id="myModal">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Feedback</h3>
    </div>
    <div class="modal-body">
      <p>Ayúdanos a mejorar. </br>Escribe tus comentarios y cuéntanos cómo perfeccionartu plataforma estudiantil. </p>
      <textarea name=feedback" placeholder="Escribe tu sugerencia..." class="textareafeedback"></textarea>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Cancelar</a>
      <a href="#" class="btn btn-primary">Enviar</a>
    </div>
</div>

