<div class="admin_panel well span3 offset1">
</div>

<div class="content_panel well span6">
</div>

<a class="btn btn-success feedback" data-toggle="modal" href="#myModal" ><strong>Sugerencias</strong></a>

<div class="modal hide" id="myModal">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Sugerencias</h3>
    </div>
    <form class="new_feedback">
      <div class="modal-body">
        <p>Ayúdanos a mejorar. </br>Escribe tus comentarios y cuéntanos cómo perfeccionar tu plataforma estudiantil. </p>
        <textarea name="text" placeholder="Escribe tu sugerencia..." class="textareafeedback"></textarea>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary disabled" value="Enviar">
      </div>
    </form>
</div>