<div class="row">
  <div class="span3">
    <strong>{{owner.name}}</strong>
  </div>
  <div class="span3 time">
    {{group.name}} ·
    <span class="timeago" title="{{created_at}}"></span>
  </div>
</div>
<div class="row"><div class="span6">{{title}}</div></div>
<div class="row"><div class="span6">{{author}}</div></div>
<div class="row"><div class="span6">{{publisher}}</div></div>
<div class="row"><div class="span6">{{additional_info}}</div></div>
<div class="row"><div class="span6">{{contact_info}}</div></div>
<div class="row"><div class="span6">{{offer_type}}</div></div>
<div class="row"><div class="span6">{{price}}</div></div>
<div class="post-options">
  <i class="icon-share-alt"></i>
  <a class="reply_link" href="#">{{t_reply}}</a>
</div>