<form class="new_book">
  <div><input name="title" placeholder="{{t_title}}"></div>
  <div><input name="author" placeholder="{{t_author}}"></div>
  <div><input name="publisher" placeholder="{{t_publisher}}"></div>
  <div><textarea name="additional_info" placeholder="{{t_additional_info}}"></textarea></div>
  <div>
    <select name="offer_type">
      <option value="">{{t_offer_type}}...</option>
      <option value="gift">{{t_gift}}</option>
      <option value="borrow">{{t_borrow}}</option>
      <option value="loan">{{t_loan}}</option>
      <option value="sale">{{t_sale}}</option>
    </select>
  </div>
  <div><input name="price" placeholder="{{t_price}}"></div>
  <div><textarea name="contact_info" placeholder="{{t_contact_info}}"></textarea></div>
  <div><input class="btn btn-primary disabled" name="commit" type="submit"></div>
</form>