<div class="row">
  <div class="sidebar span4">
    <div id="admin_panel" class="admin_panel well"></div>
    <div id="groups_panel" class="groups_panel well"></div>
  </div>
  <div id="content_panel" class="content_panel well span6">
    <div id="filter_selector"></div>
    <div id="content"></div>
  </div>
</div>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="bthttp://localhost:3000/system/board_pics/images/000/000/014/original/aww-yeahh.jpg?1340333899n btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    Tutoriapps.initialize({is_admin: <%= current_user.admin? %>});
  <% end %>
<% end %>