<form class="new_post">
  <textarea name="text"></textarea>
  {{name}}
  <input type="hidden" name="group_id" value="{{id}}">
  <input class="btn" name="commit" type="submit" value="Crear Post">
</form>