<form class="new_post">
  <textarea name="text" placeholder="Escribe tu post..." class="estilotextarea"></textarea>
  <div class="hidden"> 
    </br>{{name}}
    <input type="hidden" name="group_id" value="{{id}}">
    <input class="btn" name="commit" type="submit" value="Crear Post">
  </div>
</form>