<form class="new_post">
  <textarea name="text" placeholder="{{t_write_post}}" class="estilotextarea"></textarea>
  <div class="hidden">
    <input class="btn btn-primary disabled" name="commit" type="submit" value="Crear Post">
  </div>
</form>