<div class="row">
  <div class="span3">
    <strong>{{author.name}}</strong>
  </div>
  <div class="span3 time">
    {{group.name}} ·
    <span class="timeago" title="{{created_at}}"></span>
  </div>
</div>
<div class="row">
  <div class="span6">{{text}}</div><br>      
</div>
<div class="post-options">
  
  <i class="icon-share-alt"></i>
  <a class="reply" href="#">{{t_reply}}</a>
  
  <i class="icon-trash"></i>
  <a href="#">{{t_delete}}</a>

  <i class="icon-thumbs-up"></i>
  <a href="#">0</a>
  
  <i class="icon-thumbs-down"></i>
  <a href="#">0</a>
</div>
<div class="replies">
  <a href="#" class="see_all">{{t_see_all}}</a>
  {{#last_replies}}
    <div class="reply">
      <strong>{{author.name}}</strong>
      {{text}} </br>
      <div class="time-reply">
        <span class="timeago" title="{{created_at}}"></span>
      </div>
    </div>
  {{/last_replies}}
  <form class="new_reply">
    <textarea name="text" placeholder="Escribe tu respuesta o comentario..." class="estilotextarea"></textarea>
    <input type="submit" class="btn btn-primary disabled" />
  </form>
</div>