<div class="row">
  <div class="span3">
    <strong>{{author.name}}</strong>
  </div>
  <div class="span3 time">
    {{group.name}} ·
    <span class="timeago" title="{{created_at}}"></span>
  </div>
</div>
<div class="row">
  <div class="span6">{{text}}</div><br>      
</div>
<div class="post-options">
  <i class="icon-share-alt"></i>
  <a href="#">Responder</a>
  <i class="icon-trash"></i>
  <a href="#">Eliminar</a>
  <i class="icon-thumbs-up"></i>
  <a href="#">0</a>
  <i class="icon-thumbs-down"></i>
  <a href="#">0</a>
</div>