<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Responder a {{author.name}}</h3>
</div>
<form class="new_reply">
  <div class="modal-body">
    <textarea name="text" placeholder="Escribe tu respuesta..." class="textareafeedback"></textarea>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary disabled" value="Enviar">
  </div>
</form>