<div class="profile_pic">
  <img src="{{author.profile_pic.thumbnail_url}}">
</div>
<div class="data">
  <div class="info">
    <strong class="author">{{author.name}}</strong>
    <div class="time">
      {{group.name}} · <span class="timeago" title="{{created_at}}"></span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="text">
    {{text}}
  </div>
</div>
<div class="clearfix"></div>