<a href="#" class="see_all">{{t_see_all}}</a>
<div class="replies_container"></div>
<form class="new_reply">
  <textarea placeholder="{{t_write_comment}}" name="text" class="estilotextarea"></textarea>
</form>