<div class="groups">
  <h2>{{t_groups}}</h2>

  <div class="groups_list">
  </div>

  <a href="#" class="new_group">
    <i class="icon-plus"></i>
    {{t_add_group}}
  </a>

  <form class="new_group">
    <input type="text" name="name" placeholder="{{t_group_name}}" class="new_group_name
      last-input">
    <input type="submit" value="{{t_submit}}" class="inline-submit btn-primary">
  </form>
</div>