<div class="group">
  <div class="name">
    <a href="#" class="open">
      <i class="icon-chevron-right"></i>
      <span>{{name}}</span>
    </a>
    <a href="#" class="edit_group"><i class="icon-pencil"></i></a>
    <a href="#" class="delete_group"><i class="icon-remove"></i></a>
  </div>
  <div class="members">
    <a href="#" class="new_enrollment">
      <i class="icon-plus"></i>
      {{t_add_user}}
    </a>
    <form class="new_enrollment">
      <input type="hidden" name="group_id" value="{{id}}">
      <input type="email" name="user_email" placeholder="{{t_user_email}}" 
        class="new_enrollment_email last-input">
      <input type="submit" value="{{t_submit}}" class="inline-submit btn-primary">
    </form>
  </div>
</div>