<h2>Grupos</h2>

<div id="groups_list">
  {{#groups}}
    hola
  {{/groups}}
</div>

<a href="#" class="new_group">
  <i class="icon-plus"></i>
  Añadir Grupo
</a>

<form class="new_group">
  <input type="text" name="name" placeholder="Nombre" class="new_group_name
    last-input">
  <input type="submit" value="Enviar" class="inline-submit btn-primary">
</form>