    <li class="active">
    <a href="#">Home</a></li>
    <li><a href="#">Pizarra</a></li>
    <li><a href="#">Fotos</a></li>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Fotos</a></li>
    <li><a href="#tab2" data-toggle="tab">Pizarra</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <p>Aquí se muestran las fotos</p>
    </div>
    <div class="tab-pane" id="tab2">
    <p>Aquí se muestran las pizarras</p>
    </div>
    </div>
    </div>