<li class="all"><a href="{{url}}/all" class="filter">{{name}}</a></li>
<li class="board_pics"><a href="{{url}}/board_pics" class="filter">Pizarras</a></li>
<li class="books"><a href="{{url}}/books" class="filter">Libros</a></li>
