.navbar {
  .brand {
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px 15px 12px;
    .slogan {
      font-size: 0.65em;
      padding: 0;
      font-weight: normal;
    }
  }
  .nav {
    li a {
      color: #DDD;
      &.forgot_password {
        padding-top: 0.7em;
        padding-left: 0;
        color: #888;
      }
    }
    .dropdown-menu a {
      color: #555;
      &:hover { color: white; }
    }
  }
}

footer {
  text-align:center;
}

form {
  .last-input {
    max-width: 65%;
  }
  .inline-submit {
    max-width: 25%;
    margin-left: 2%;
  }
}