form.new_post, form.new_reply {
  textarea {
    margin: 0;
    width: 98%;
    height: 1.5em;
    padding: 1%;
    outline: none;
    resize: none;
    overflow: hidden;
  }
  .form-body {
    padding: 0;
  }
  .form-footer {
    display: none;
  }
  &.focused {
    textarea{
      height: 5em;
      resize: vertical;
    }
    .form-footer {
      display: block;
    }
  }
}
form.new_post {
  textarea { border: none; }
}
form.new_reply {
  padding: 0.5em 0;
  margin: 0;
  text-align: right;
  textarea {
    margin: 0.5em auto;
  }
}