.post {
  margin: 20px 0 20px 0;  
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: silver;
 }
.time {
      text-align: right;
      color: #999;
      font-size: 10px;
}
.time-reply {
      text-align: left;
      color: #999;
      font-size: 10px;
}
.post-options {
      padding-top: 1em;
      text-align: left;
      color: #999;
      font-size: 10px;
}
.hidden {
  display: none;
  text-align: right;
  color: #999;
  font-size: 10px;
}
.expand {
      height: 1em;
      width: 50%;
      padding: 1px;
}
.estilotextarea {
      width: 442px;
      height: 1.5em;
      margin-top: 2px;
    }
.replies {
  background-color: #E4F0DE;
  margin: 20px 0px 20px 0;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.reply {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid;
  border-bottom-color: #F5F5F5;
}
.estilotextareapost {
      width: 250px;
      height: 1.5em;
      margin-top: 2px;
    }