form.new_post {
  textarea {
    margin: 0;
    width: 98%;
    height: 1.5em;
    padding: 1%;
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
  }
  .form-body {
    padding: 0;
  }
  .form-footer {
    display: none;
  }
}