<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó un cambio de tu contraseña. Puedes cambiar tu contraseña haciendo clic en el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste un cambio de contraseña, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará a menos que hagas clic en enlace superior.</p>
