<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un exceso en la cantidad de intentos fallidos para iniciar sesión.</p>

<p>Haz clic en el enlace siguiente para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
