<form id="new_board_pic" method="post" action="/api/v1/groups/{{group_id}}/board_pics.json"
  enctype="multipart/form-data"
>
  <div class="form-body">
    <input type="file" name="board_pic[image]">
    <input type="text" name="board_pic[class_date]" class="datepicker"
      placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd">
  </div>
  <div class="form-footer">
    <input type="submit" class="btn btn-primary disabled" value="{{t_submit}}">
  </div>
</form>