<form id="new_board_pic" method="post" action="/api/v1/groups/{{group_id}}/board_pics.json"
  enctype="multipart/form-data"
>
  <input type="file" name="board_pic[image]">
  <input type="text" name="board_pic[class_date]" class="datepicker"
    placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd">
  <input type="submit" class="btn btn-primary">
</form>