<a class="btn btn-success" data-toggle="modal" href="#board_pic_modal" ><strong>{{t_add_board_pic}}</strong></a>

<div class="modal hide" id="board_pic_modal">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>{{t_add_board_pic}}</h3>
    </div>
    <form id="new_board_pic" method="post" action="/api/v1/groups/1/board_pics.json"
    enctype="multipart/form-data">
      <div class="modal-body">
        <input type="file" name="board_pic[image]">
        <input type="text" name="board_pic[class_date]" class="datepicker"
          placeholder="yyyy-mm-dd" data-date-format="yyyy-mm-dd">
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
</div>