<div><button class="btn btn-primary">{{ t_add_board_pic }}</button></div>
<form id="new_board_pic" method="post" action="/api/v1/groups/1/board_pics.json" 
  enctype="multipart/form-data"
>
  <input type="file" name="board_pic[image]" />
  <input type="submit" class="btn btn-primary">
</form>